.bodySimple, .header, .navHome, .navWork, .navAbout, .navTravel, .bodyFooter {
  font-variant: small-caps
}

header, .navLinks {
  text-align: center;
  padding: 10vh; 
}



.work {
  background-color: red;
  height: 10%;
  text-align: center;

}

img {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 10vw;

}

footer {
  position: fixed;
  bottom: 0;
  right: 0;

}

