.bodySimple, .header, .navHome, .navWork, .navAbout, .navTravel, .bodyFooter {
  font-variant: small-caps
}

header, .navLinks {
  text-align: center;
}

.bodyFooter {
  justify-content: flex-end;
  text-align: center;
}

.work {
  background-color: red;
  height: 10%;
  text-align: center;

}

img {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 10vw;

}